.article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  &::before {
    border: 2px solid var(--gray-lightest);
    content: '';
    display: block;
    margin-top: 12px;
    max-width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}