.article {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &::before {
    border: 2px solid var(--gray-lightest);
    content: '';
    display: block;
    margin-top: 12px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}