.project-card {
  background-color: var(--gray-lightest-2);
  border-radius: 4px 0px 0px 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;


  &__title {
    color: var(--gray-darker);
  }

  &__paragraph {
    color: var(--gray-default);
  }

  &__link {
    text-decoration: none;
    color: var(--secondary-default);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
  }

  &__link {
    display: flex;
    gap: 8px;
    overflow: hidden;
  }

  &__button {
    background-color: var(--secondary-lighter);
    border: none;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    fill: var(--secondary-default);
  }

  &__images {
    height: 220px;
  }
}
