:root {
  --color-primary-light: #f9f9f9;

  --gray-dark: #47516B;
  --gray-darker: #2E2E48;
  --gray-default: #79819A;
  --gray-lightest: #E2E6EE;
  --gray-lightest-2: #F7F9FC;
  --primary-dark: #5531A7;
  --primary-default: #9251F7;
  --primary-lighter: #EFE2F9;
  --secondary-default: #516CF7;
  --secondary-text: #A478E8;
  --secondary-lighter: #E1E7FE;
  --social-telegram: #2AABEE;
  --social-github: #333;
  --white: #FFFFFF;
  --education-khai: #38669F;
}

$bp-tablet: 867px;
