.aside {
  width: 30%;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background-image: url("./../../public/images/aside-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: $bp-tablet){
    width: 100%;
  }
}