@media print {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 20px;
    gap: 4px;
  }

  .aside {
    width: 20%;
    padding: 0;
  }

  .header {
    width: 100%;

    &__title {
      justify-content: center;
    }

    &__image {
      display: none;
    }

    &__position {
      -webkit-text-fill-color: var(--gray-darker);
    }
  }

  .aside {
    width: 100%;

    &__articles-print {
      width: 100%;
      display: flex;
      gap: 24px
    }
  }

  .article {
    &:before {
      display: none;
    }
  }

  .main {
    width: 100%;
    padding: 0;
  }

  .section {
    margin-bottom: 10px;
  }

  .list {
    &__button {
      display: none;
    }
  }

  .section {
    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .project-section {
    margin: 0;
    gap: 4px;
  }

  .project-list {
    flex-direction: column;

    &__item {
      width: 100%;
    }

    &__images {
      display: none;
    }

    &__text {
      padding: 0;
      gap: 2px;
    }

    &__button {
      display: none;
    }
  }

  .education-section {
    margin: 0;
    gap: 4px;
  }

  .education-list {

    &__item {
      width: 100%;
      padding: 0;
    }

    &__logo {
      display: none;
    }

    &__specialty {
      font-size: 14px;
    }
  }

  .skills-section {
    margin: 0;
    gap: 4px;
  }

  .skill-list {
    column-count: 2;
    display: block;
    column-gap: 220px;

    &__item {
      color: var(--gray-darker);
      gap: 0px;
      padding: 0;
      justify-content: start;
      flex-direction: column;
      align-items: start;

      &--width-58 {
        width: 100%;
      }

      &--width-40 {
        width: 100%;
      }

      &--width-30 {
        width: 100%;
      }

      &--width-37 {
        width: 100%;
      }

      &--width-50 {
        width: 100%;
      }

      &--width-48 {
        width: 100%;
      }
    }

    &__text {
      &:before {
        display: none;
        //border: none;
        //content: ",";
        //padding-right: 10px;
      }
    }

    &__list {
      list-style-type: none;
    }
  }
}